@charset "utf-8";
/* CSS Document */
@media only screen and (min-width: 1024px) {

}
 @media only screen and (max-width: 1025px) {

}
@media only screen and (max-width: 850px) {

}
@media only screen and (max-width: 767px) {
.logo a {font-size: 15px;}
.banner {
    padding: 0;
}
div#bs-example-navbar-collapse-1, .container-fluid { padding: 0 15px;}
.navbar-default .navbar-brand {display: block;color: #333 !important;text-transform: uppercase;}
}
@media only screen and (max-width: 680px) {
.caption h2 {
    font-size: 34px; }
	.caption h3 {
    font-size: 17px;
}
.welcome-text .right-half { display: block; width: 100%;}
.welcome-text article {
    padding: 20px;
} 
.welcome-text h2, .inner-content h2 {
	
	font-size: 32px;
}
.welcome-text h2 span, .inner-content h2 span {
	
	font-size: 18px;
	
	/* font-weight: normal; */
}
}
@media only screen and (max-width: 480px) {
.service-section div[class*="col-xs-6"], footer div[class*="col-xs-6"]{ width: 100%;}
}

@media only screen and (max-width: 320px) {
 

}
