@charset "utf-8";
/* CSS Document */

* {
	outline: none !important;
	box-sizing: border-box;
}
body {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	color: #333;
	-webkit-animation-delay: 0.1s;
	-webkit-animation-name: fontfix;
	-webkit-animation-duration: 0.1s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
}
ul, ol, h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}
/*h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto Slab', serif;
}*/
img {
	max-width: 100%;
	height: auto;
	display: block;
}
iframe {
	max-width: 100%;
}
a:hover, a:focus {
	outline: none;
}
.clear {
	clear: both;
}
/*Banner Start*/
.banner {
	padding: 60px 20px;
	background: url(../img/gpservices.png) no-repeat 21px -2px, #000;
	
}
.parallax {
	
	z-index: 1;
	position: relative;
	-webkit-background-size: cover!important;
	-moz-background-size: cover!important;
	-o-background-size: cover!important;
	background-size: cover!important;
}
/*Banner End*/
header {
	background-color: #fff;
}
header.affix {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99 !important;
}
.logo {
	background-color: #F5C920;
	padding: 30px 15px 30px 15px;
}
.logo a {
	color: #020000;
	text-decoration: none;
	font-size: 15px;
	font-weight: 300;
	display: block;
}
.logo a img {display: inline-block;width: 76px;}
.logo span {
	display: inline-block;
	/*border-top: 1px solid #e8be19;
	margin-top: 5px;
	padding-top: 5px;
	 text-align: right; */
	font-weight: bold;
	text-transform: uppercase;
}
.header-right {  }
.top-header {
	padding: 10px 0;
	border-bottom: 1px solid #d6d6d6;
}
.top-header ul.header-contact {
}
.top-header ul.header-contact li {
	display: inline-block;
	position: relative;
	width: 32%;
	padding-left: 35px;
	font-size: 13px;
	color: #676767;
}
.top-header ul.header-contact li i {
	font-size: 27px;
	color: #f5c920;
	vertical-align: middle;
	position: absolute;
	top: 0;
	left: 0;
}
.top-header ul.header-contact li b {
	display: block;
}
/*Navbar Start*/
.navbar-default .navbar-brand {
	display: none;
}
.navbar-collapse { padding: 0; }
div#bs-example-navbar-collapse-1, .container-fluid {
/* padding: 0; */
}
.navbar-default {
	background-color: transparent;
	border-color: transparent;
	border: none;
	margin-bottom: 0;
}
.navbar-default .navbar-nav>li>a {
	font-weight: 600;
	text-transform: uppercase;
	color: #000;
	font-size: 13px;
	padding: 10px 12px;
}
.navbar-default .navbar-nav>li>a>span {margin-left: 10px;}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	color: #f5c920;
	background-color: transparent;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover { 
	color: #f5c920;
    background-color: transparent;
 }
 .navbar-nav>li>.dropdown-menu { padding: 0;
    border-radius: 0;
    background-color: #fff; }
    .dropdown-menu>li>a { font-size: 13px;
    padding: 10px 10px;
    border-bottom: 1px solid #ccc; }
 .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover { color: #262626;
     background-color: #f5c920; }
#search {
	position: relative;
	float: left;
	width: 40px;
	height: 40px;
	padding-top: 4px;
	margin-right: 0px;
}
#search #label {
	width: 40px;
	height: 40px;
	position: relative;
	z-index: 20;
}
#search #label label {
	display: block;
	width: 40px;
	height: 40px;
	background: url("../img/search.png") 0 0;
	font-size: 0;
	color: rgba(0, 0, 0, 0);
	text-indent: -9999px;
	cursor: pointer;
	margin: 0;
}
#search #label label:hover {
	background: url("../img/search.png") -40px 0;
}
#search #label.active label {
	background: url("../img/search.png") -40px 0;
}
#search #input {
	position: absolute;
	top: 0;
	right: 40px;
	width: 450px;
	height: 60px;
	z-index: -1;
	overflow: hidden;
}
#search #input input {
	display: block;
	position: absolute;
	top: 4px;
	right: -450px;
	width: 450px;
	height: 40px;
	margin: 0;
	padding: 0 10px;
	border: none;
	background-color: #d6d6d6;
	color: #000;
	font-size: 14px;
	-webkit-backface-visibility: none;
	-moz-backface-visibility: none;
	-ms-backface-visibility: none;
	backface-visibility: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-transition: left 0;
	-moz-transition: left 0;
	-ms-transition: left 0;
	-o-transition: left 0;
	transition: left 0;
}
#search #input input:focus {
	outline: none
}
#search #input.focus {
	z-index: 20
}
#search #input.focus input {
	right: 0;
	-webkit-transition: left 0.3s;
	-moz-transition: left 0.3s;
	-ms-transition: left 0.3s;
	-o-transition: left 0.3s;
	transition: left 0.3s;
}
#search input:-moz-placeholder {
 color: #000;
}
#search input::-webkit-input-placeholder {
 color: #000;
}
.caption {
	color: #fff;
	padding: 80px 0 160px 0;
}
.caption h2 {
	font-size: 60px;
	margin-bottom: 7px;
	text-transform: uppercase;
	color: #F5C920;
}
.caption h3 {
	font-size: 16px;
	color: #f9f9f9;
}
.page-top {
	color: #fff;
	padding: 15px 0 0 0;
	border-bottom: 1px solid #ccc;
}
.page-top h2 { font-size: 25px; color: #020000; text-transform: none;}
.padding-20 {
	padding: 40px 0 0 0;
}
/*Service Section Start*/
.service-section {
	margin-top: -120px;
	z-index: 9;
	position: relative;
	padding-bottom: 50px;
	margin-bottom: 20px;
}
.box-wrapper {
	color: #fff;
	background-color: #f76300;
	padding: 15px;
	position: relative;
	height: 295px;
}
.box-wrapper a i {
	width: 50px;
	height: 50px;
	display: block;
	line-height: 50px;
	border: 3px solid #fff;
	margin: 10px auto 30px auto;
	font-size: 22px;/* position: absolute; *//* top: -30px; *//* left: 50%; *//* margin-left: -25px; */
	border-radius: 5px;
}
.box-wrapper h4 {
	font-weight: bold;
	margin-bottom: 15px;
	font-size: 20px;
}
.box-wrapper h4 span {
	font-weight: normal;
}
.box-wrapper p {
}
.box-wrapper a {
	color: #fff;
	text-decoration: none;
	display: block;
}
.box-wrapper a.btn {
	border-radius: 0;
	background-color: transparent;
	border-color: #fff;
	display: inline-block;
	margin-top: 20px;
	font-size: 12px;
	border-radius: 25px;
}
.box-wrapper a.btn i {
	width: auto;
	height: auto;
	display: inline-block;
	border: none;
	line-height: normal;
	margin: 0;
	font-size: 12px;
	margin-left: 10px;
	color: #fff;
}
.box-wrapper:hover {
}
.flip-container {
/* perspective: 1000px; */
}
/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
	transform: rotateY(180deg);
}
.flip-container, .front, .back {
	/* width: 320px; */
	height: 295px;
	cursor: pointer;
	z-index: 999;
	position: relative;
	background-color: #2F6BB5;
	margin-bottom: 15px;
}
/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}
/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	padding: 15px;
}
/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}
/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
	background-color: #E02D8D;
}
.flip-container:hover .flipper, .flip-container.hover .flipper, .flip-container.flip .flipper {
	transform: rotateY(180deg);
}
/*==================================================
 * Effect 2
 * ===============================================*/
.effect2 {
	position: relative;
	z-index: 999;
}
.effect2:before, .effect2:after {
	z-index: -9999;
	position: absolute;
	content: "";
	bottom: 15px;
	left: 10px;
	width: 50%;
	top: 80%;
	max-width: 300px;
	background: #777;
	box-shadow: 0 15px 10px #777;
	transform: rotate(-3deg);
}
.effect2:after {
	transform: rotate(3deg);
	right: 10px;
	left: auto;
}
/*Service Section End*/
.welcome-text {
	z-index: 99;
	background-color: #eee;
	display: table;
	width: 100%;
}
.welcome-text h2, .inner-content h2 {
	font-weight: 900;
	color: #333;
	text-transform: uppercase;
	margin-bottom: 15px;
	font-size: 45px;
}
.welcome-text h2 span, .inner-content h2 span {
	display: block;
	font-size: 20px;
	line-height: 36px;
	color: #2f6bb5;
	/* font-weight: normal; */
}
.welcome-text p {
	line-height: 25px;
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 100px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
.welcome-text a.btn {
	background-color: transparent;
	color: #333;
	border-color: #333;
	border-radius: 23px;
	margin: 28px 0 0 0;
	display: inline-block;
}
.welcome-text a.btn i {
	font-size: 13px;
}
.welcome-text div {
	height: 100%;
	display: table-cell;
	vertical-align: middle;
}
.welcome-text .left-half {
	background: url(../img/compulation.jpg) no-repeat;
	background-size: cover;
	width: 50%;
}
.welcome-text .right-half {
	width: 50%;
	background-color: #eee;
}
.welcome-text article {
	padding: 35px 100px;
}
/*==================================================
 * Why Choose Us Css Start
 * ===============================================*/
.why-choose {
	padding: 60px 0 10px 0;
}
.title h3 {
	font-weight: bold;
	text-transform: uppercase;
}
.title p.lead {
	font-size: 18px;
	letter-spacing: 1px;
}
.why-choose .choose-list {
	position: relative;
	margin-bottom: 15px;
	padding-left: 60px;
}
.why-choose .choose-list i {
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background-color: #333;
	color: #fff;
	font-size: 15px;
	position: absolute;
	top: 2px;
	left: 0;
	border-radius: 50%;
}
.why-choose .choose-list h4 {
	color: #f5c920;
	margin-bottom: 7px;
}
.why-choose .choose-list p {
}
/*==================================================
 * Why Choose Us Css End
 * ===============================================*/
 
 /*==================================================
 *Our work Css Start
 * ===============================================*/
.filters {
	margin-bottom: 15px;
}
.filters .nav-pills>li>a {
	border-radius: 0;
	color: #333;
	border: 1px solid #333;
	margin-right: 7px;
	font-weight: 600;
	text-transform: uppercase;
}
.filters .nav-pills>li.active>a, .filters .nav-pills>li.active>a:focus, .filters .nav-pills>li.active>a:hover, .filters .nav-pills>li>a:focus, .filters .nav-pills>li>a:hover {
	background-color: #f5c920;
	border-color: #c19e18;
	color: #fff;
}
.box-style-1 {
	text-align: center;
	/* padding: 20px; */
	margin: 0;
}
.grid-space-10 .box-style-1 {
	margin: 10px 0;
}
.box-style-1 i {
	font-size: 90px;
	margin: 15px 0 5px;
	text-align: center;
}
.box-style-1:not(.team-member):hover i {
	color: #ff6600;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.box-style-1.default-bg:hover i, .box-style-1.dark-bg:hover i {
	color: inherit;
}
.overlay-container {
	position: relative;
	display: block;
	overflow: hidden;
}
.overlay {
	position: absolute;
	top: 0;
	bottom: -1px;
	left: 0;
	right: -1px;
	background-color: rgba(241, 241, 241, 0.85);
	overflow: hidden;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
	-webkit-transition: all linear 0.2s;
	-moz-transition: all linear 0.2s;
	-ms-transition: all linear 0.2s;
	-o-transition: all linear 0.2s;
	transition: all linear 0.2s;
}
.overlay a {
	display: inline-block;
	width: 50px;
	height: 50px;
	font-size: 26px;
	color: #e84c3d;
	background-color: #ffffff;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -25px;
	margin-left: -25px;
}
.overlay span {
	position: absolute;
	display: block;
	bottom: 10px;
	text-align: center;
	width: 100%;
	color: #000000;
	font-style: italic;
}
.overlay-links {
	display: block;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	margin-top: -25px;
	left: 50%;
	margin-left: -50px;
	font-size: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transform: scale(0.4);
	transform: scale(0.4);
	-webkit-transition: all 0.25s linear 0.05s;
	-moz-transition: all 0.25s linear 0.05s;
	-ms-transition: all 0.25s linear 0.05s;
	-o-transition: all 0.25s linear 0.05s;
	transition: all 0.25s linear 0.05s;
}
.overlay-links a {
	position: static;
	margin-top: 0;
	margin-left: 0;
}
.overlay-links a + a {
	left: 50px;
	color: #ffffff;
	background-color: #e84c3d;
}
.overlay a:hover {
	color: #ffffff;
	background-color: #333333;
}
.overlay i {
	line-height: 50px;
}
.box-style-1 .overlay i {
	font-size: 26px;
	margin: 0;
}
a.overlay {
	background-color: rgba(8, 8, 8, 0.9);
	cursor: pointer;
}
a.overlay i {
	position: absolute;
	left: 50%;
	top: 50%;
	font-size: 40px;
	line-height: 42px;
	color: #e84c3d;
	margin-top: -22px;
	margin-left: -18px;
	text-align: center;
}
a.overlay.small i {
	font-size: 18px;
	line-height: 1;
	margin-top: -20px;
	margin-left: -20px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	background-color: #fff;
	border-radius: 50%;
}
.overlay .social-links {
	margin: 0;
	position: absolute;
	bottom: 10px;
	width: 100%;
	text-align: center;
}
.overlay .social-links li {
	margin: 0 auto;
}
.overlay .social-links li a {
	margin: 2px;
	width: 40px;
	height: 40px;
	font-size: 18px;
	position: static;
}
.overlay .social-links li a:hover {
	background-color: #fff;
	border-color: #fff;
	text-decoration: none;
}
.overlay .social-links li a i {
	line-height: 38px;
	font-size: 24px;
	margin: 0;
}
.overlay-container:hover .overlay, .overlay-container:hover .overlay-links {
	opacity: 1;
	filter: alpha(opacity=100);
	-webkit-transform: scale(1);
	transform: scale(1);
}
/*==================================================
 *Our work Css End
 * ===============================================*/
/*==================================================
 *Footer Start
 * ===============================================*/
footer {
	background-color: #000;
	margin-top: 20px;
	padding-top: 40px;
}
footer .footer-logo {
}
footer p {
	color: #fff;
	font-size: 13px;
	margin: 15px 0;
}
footer a {
	color: #f5c920;
	font-size: 12px;
	text-decoration: none;
}
footer h2 {
	color: #bababa;
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 15px;
	font-weight: 600;
}
footer ul {
}
footer ul li {
	display: block;
	list-style: none;
}
footer ul li a {
	font-size: 14px;
	color: #fff;
	display: block;
	padding: 5px 0;
	border-bottom: 1px dashed #474747;
	border-top: 1px dashed #202020;
}
footer ul li:first-child a, footer ul.footer-contact li:first-child {
	border-top: none;
}
footer ul li:last-child a, footer ul.footer-contact li:last-child {
	border-bottom: none;
}
footer ul li i {
}
footer .sitemap {
	background: url(../img/dotted-map-black-big.png) no-repeat center center;
	background-size: 100%;
}
footer ul.social-media li {
	/* display: inline-block; */
	margin-bottom: 8px;
	color: #fff;
	position: relative;
	height: 50px;
	padding-left: 59px;
}
footer ul.social-media li a {
	width: 50px;
	height: 50px;
	line-height: 50px;
	border: none;
	background-color: #f5c920;
	text-align: center;
	border-radius: 50%;
	padding: 0;
	font-size: 17px;
	overflow: hidden;
	position: absolute;
	top: -10px;
	left: 0;
}
footer ul.social-media li a i {
}
footer ul.footer-contact li {
	color: #fff;
	border-bottom: 1px dashed #474747;
	border-top: 1px dashed #202020;
	position: relative;
	padding-left: 25px;
	padding: 7px 10px 7px 28px;
}
footer ul.footer-contact li i {
	position: absolute;
	top: 12px;
	left: 0;
}
footer ul.footer-contact li a {
	border: none;
	text-decoration: none;
}
footer .bottom-footer {
	border-top: 1px solid #2d2c2c;
	margin-top: 30px;
	padding: 15px 0;
}
footer .bottom-footer small {
	color: #fff;
}
footer .bottom-footer small + small {
	float: right;
}
/*==================================================
 *Footer End
 * ===============================================*/
/* Scroll to top
---------------------------------- */
.scrollToTop {
	color: #fff;
	position: fixed;
	bottom: 5px;
	right: 5px;
	width: 50px;
	height: 50px;
	text-align: center;
	cursor: pointer;
	background-color: #4e4e4e;
	z-index: 1005;
	display: none;
}
.scrollToTop i {
	line-height: 50px;
	font-size: 24px;
}

/* Small devices (tablets, phones less than 767px) */
@media (max-width:767px) {
.scrollToTop {
	width: 40px;
	height: 40px;
	background-color: rgba(0, 0, 0, 0.4);
}
.scrollToTop i {
	line-height: 40px;
	font-size: 20px;
}
}
ol.breadcrumb {
	background-color: transparent;
	margin: 0;
}
ol.breadcrumb li {
	color: #fff;
	font-weight: 600;
}
ol.breadcrumb li.active {
	color: #f5c920;
}
ol.breadcrumb li a {
	color: #020000;
	text-decoration: none;
}
.inner-content h2 {
	font-size: 34px;
}
.inner-content h2 span {
	font-size: 17px;
	font-weight: normal;
	color: #333;
	text-transform: none;
}
.inner-content p.lead {
	font-size: 16px;
	letter-spacing: 0.5px;
	margin-bottom: 10px;
}
.inner-content p {
	line-height: 27px;
}
.inner-content p + p {
}
.border {
	width: 100%;
	height: 3px;
	background: url(../img/border-line.png) repeat-x;
	margin: 10px 0;
}
section.quotation {
	color: #fff;
	padding: 35px 0;
	margin-bottom: 35px;
	background-color: #000000;
}
section.quotation h2 {
	color: #f5c920;
	margin-bottom: 8px;
	font-weight: bold;
	text-transform: uppercase;
}
section.quotation p {
	font-size: 16px;
	line-height: 30px;
	font-weight: 300;
}
.item-hover {
	display: inline-block;
	position: relative;
	-webkit-transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
}
.item-hover, .item-hover * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.item-hover a {
	color: #333;
}
.item-hover a:hover {
	text-decoration: none;
}
.item-hover img {
	width: 100%;
	height: 100%;
}
.item-hover.circle {
	position: relative;
	width: 220px;
	height: 220px;
	border-radius: 50%;
	margin-right: 4px;
}
.item-hover.circle .img {
	position: relative;
	width: 220px;
	height: 220px;
	border-radius: 50%;
}
.item-hover.circle .img:before {
	position: absolute;
	display: block;
	content: '';
	width: 100%;
	height: 100%;
	border-radius: 50%;
	box-shadow: inset 0 0 0 10px rgba(255, 255, 255, 0.6), 0 1px 2px rgba(0, 0, 0, 0.3);
	-webkit-transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	transition: all 0.35s ease-in-out;
}
.item-hover.circle .img img {
	border-radius: 50%;
}
.item-hover.circle .info {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	border-radius: 50%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.item-hover.circle.effect7 .img {
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	-webkit-transition: all 0.35s ease-out;
	-moz-transition: all 0.35s ease-out;
	transition: all 0.35s ease-out;
}
.item-hover.circle.effect7.colored .info {
	background: rgba(30, 90, 117, 1);
}
.item-hover.circle.effect7 .info {
	background: #333333;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	-webkit-transition: all 0.35s ease 0.2s;
	-moz-transition: all 0.35s ease 0.2s;
	transition: all 0.35s ease 0.2s;
}
.item-hover.circle.effect7 .info h2 {
	font-size: 12px;
	margin-bottom: 0;
	color: #f5c920;
	margin-top: 50px;
}
.item-hover.circle.effect7 .info h3 {
	color: #fff;
	text-transform: uppercase;
	position: relative;
	letter-spacing: 2px;
	font-size: 14px;
	margin: 0 30px;
	padding: 8px 0 0 0;
	height: 44px;
	text-shadow: 0 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.3);
}
.item-hover.circle.effect7 .info p {




	color: #bbb;
	padding: 0px 5px;
	/* font-style: italic; */
	margin: 0 18px;
	font-size: 14px;
}
.item-hover.circle.effect7 a:hover .img {
	opacity: 0;
	-webkit-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-ms-transform: scale(0.5);
	-o-transform: scale(0.5);
	transform: scale(0.5);
}
.item-hover.circle.effect7 a:hover .info {
	visibility: visible;
	opacity: 1;
}
.item-hover.circle.effect7.left_to_right .info {
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	transform: translateX(-100%);
}
.item-hover.circle.effect7.left_to_right a:hover .info {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
}
.item-hover.circle.effect7.right_to_left .info {
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	-ms-transform: translateX(100%);
	-o-transform: translateX(100%);
	transform: translateX(100%);
}
.item-hover.circle.effect7.right_to_left a:hover .info {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);

}
.item-hover.circle.effect7.top_to_bottom .info {
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	-o-transform: translateY(100%);
	transform: translateY(100%);
}
.item-hover.circle.effect7.top_to_bottom a:hover .info {
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
}
.item-hover.circle.effect7.bottom_to_top .info {
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	transform: translateY(-100%);
}
.item-hover.circle.effect7.bottom_to_top a:hover .info {
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
}
.item-hover.circle.effect7 .info p + p {
	font-size: 10px;
}
section.slice {
	padding: 40px 0;
}
.wp-section p {
	margin-bottom: 15px;
}
.section-title-wr {
	display: table;
	width: 100%;
	margin-bottom: 15px
}
.section-title-wr.base, .section-title-wr.dark, .section-title-wr.light, .section-title-wr.base-alt {
	background: transparent
}
.section-title-wr .aux-nav {
	display: table-cell;
	width: 30%;
	padding: 8px 0;
	text-align: right
}
.section-title {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-weight: 500;
	text-transform: capitalize;
	position: relative
}
.section-title.left {
	display: table-cell;
	color: #333;
	font-size: 18px
}
.section-title.left small {
	display: block;
	margin-top: 4px;
	color: #999
}
.section-title-wr .section-title.center {
	margin-bottom: 20px;
	display: block;
	text-align: center;
	font-size: 26px;
	color: #333
}
.section-title-wr .section-title.center small {
	display: block;
	margin-top: 8px;
	font-size: 13px;
	color: #999
}
.section-title-wr.style-2 {
	margin-bottom: 15px;
	border-bottom: 2px solid #8ec449
}
.section-title-wr.style-2 .aux-nav a {
	color: #616161
}
.section-title-wr.style-2 .section-title.left {
	padding: 0
}
.section-title-wr.style-2 .section-title.left span {
	display: inline-block;
	margin-bottom: 2px;
	padding: 10px 15px
}
.section-title-wr.style-2 .section-title.left small {
	display: inline-block;
	margin: 0;
	margin-left: 10px
}
.section-title-wr.style-2.base {
	border-color: #8ec449
}
.section-title-wr.style-2.light {
	border-color: #ecf0f1
}
.section-title-wr.style-2.dark {
	border-color: #131313
}
.section-title-wr.style-2.base-alt {
	border-color: #2c2c2c
}
.section-title-wr.style-2.base .section-title.left span {
	background: #8ec449;
	color: #fff
}
.section-title-wr.style-2.light .section-title.left span {

	background: #ecf0f1;
	color: #333
}
.section-title-wr.style-2.dark .section-title.left span {
	background: #131313;
	color: #fff
}
.section-title-wr.style-2.base-alt .section-title.left span {
	background: #2c2c2c;
	color: #fff
}
.section-title-wr.style-3 {
	margin-bottom: 20px
}
.section-title-wr.style-3 span {
	padding-bottom: 4px;
	border-bottom: 1px solid #333
}
.section-title-wr.style-3 small {
	margin-top: 12px !important;
	color: #999
}
.base .section-title-wr.style-3 span {
	border-bottom: 1px solid #fff
}
.base-alt .section-title-wr.style-3 span {
	border-bottom: 1px solid #fff
}
.light .section-title-wr.style-3 span {
	border-bottom: 1px solid #333
}
.dark .section-title-wr.style-3 span {
	border-bottom: 1px solid #fff
}
.section-title-wr.style-4 {
	margin-bottom: 15px
}
.section-title-wr.style-4 .section-title {
	border-bottom: 1px solid #e0eded;
	padding-bottom: 5px
}
.section-title-wr.style-4 span {
	padding-bottom: 4px;
	border-bottom: 3px solid #8ec449;
	background: #fff
}
.section-title-wr.style-4 {
	margin-bottom: 15px
}
.section-title-wr.style-4 span {
	padding-bottom: 4px
}
.section-title-wr.style-4 span:after {
	border-bottom: 1px solid #333
}
.section-title-wr.style-4 small {
	margin-top: 14px;
	color: #999
}
.form-light .form-control {
	border-radius: 0 !important;
	background-color: transparent;
}
h4.section-title.left {
	text-transform: none;
}
.contact-info {
	margin-bottom: 20px
}
.contact-info h5 {
	margin: 0;
	font-size: 13px;
	font-weight: 500;
	margin-bottom: 4px
}
.contact-info h5 i {
	margin-right: 4px;
	color: #8ec449
}
.contact-info-inline p {
	margin: 0;
	padding: 0
}
.section-title-wr h3.section-title.left {
	font-size: 29px;
	font-weight: 900;
	display: block;
}
.section-title-wr h3.section-title.left span {
	color: #8ec449;
}
.contact-info {
}
.contact-info > div {
	position: relative;
	padding-left: 40px;
	margin-bottom: 14px;
}
.contact-info i {
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background-color: #ff6600;
	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
}
.contact-info p {
	font-size: 14px;
}
.map-canvas {
	height: 250px;
	overflow: hidden;
}
.subsection {
	margin-top: 30px
}
label {
	font-weight: 400;
	font-size: 13px;
}
form.form-light button {
	background-color: #f60;
	color: #fff !important;
	font-weight: 600;
	text-transform: uppercase;
	border-radius: 0;
}
.wp-masonry-3-cols .wp-masonry-gutter {
	width: 2%
}
.wp-masonry-3-cols .wp-masonry-block {
	float: left;
	width: 32%;
	margin-bottom: 25px
}
.post-item.style1 {
	border: 1px solid #e0eded;
	margin-right: 20px;
}
.post-item.style1 .post-video {
	margin-bottom: 60px
}
.post-item.style1 .post-meta-top {
	position: relative
}
.post-item.style1 .post-title {
	margin: 15px 0 8px 0;
	padding: 0 15px;
	line-height: 22px
}
.post-item.style1 .post-title a {
	font-size: 16px;
	line-height: 16px;
	font-weight: 500;
	text-transform: none
}
.post-item.style1 .post-content {
	padding: 0 15px
}
.post-item.style1 .post-content .post-desc {
	text-align: justify
}
.post-item.boxed.style1 .post-content {
	padding: 24px 40px 12px 28px
}
.post-item.style1 .post-tags {
	margin-bottom: 10px;
	font-style: normal
}
.post-item.style1 .post-comments {
	float: right;
	margin-left: 30px;
	font-size: 12px;
	color: #333;
	text-align: center;
	text-transform: uppercase
}
.post-item.style1 .post-comments strong {
	display: block;
	margin-bottom: 6px;
	font-size: 38px;
	font-weight: 700;
	color: #9cd70e
}
.post-item.style1 .post-meta-bot {
	border-top: 1px solid #e0eded
}
.post-item.style1 .post-meta-bot .like-button {
	position: relative;
	padding: 10px 15px;
	border-left: 1px solid #e0eded;
	background: #fcfcfc;
	border-bottom-right-radius: 2px
}
.post-item.style1 .post-meta-bot .like-button .button i {
	color: #999;
	-o-transition: .3s;
	-ms-transition: .3s;
	-moz-transition: .3s;
	-webkit-transition: .3s;
	transition: .35s
}
.post-item.style1 .post-meta-bot .like-button .count {
	display: none;
	position: absolute;
	top: 1px;
	left: 0;
	width: 100%;
	text-align: center;
	color: #999;
	-o-transition: .3s;
	-ms-transition: .3s;
	-moz-transition: .3s;
	-webkit-transition: .3s;
	transition: .35s
}
.post-item.style1 .post-meta-bot .like-button:hover .button i {
	color: #3498db
}
.post-item.style1 .post-meta-bot .like-button.checked .button i {
	color: #3498db
}
.post-item.style1 .post-meta-bot .like-button:hover .count {
	display: block
}
.post-item.style1 .post-meta-bot .post-author {
	float: left;
	line-height: 55px;
	padding-left: 15px
}
.service-box {
	padding: 10px;
	border: 1px solid #ccc;
	text-align: center;
	cursor: pointer;
	margin-bottom: 15px;
}
.service-box .image-wrapper {
	min-height: 160px;
}
.service-box .image-wrapper img {
	margin: 0 auto;
}
.service-box .service-detail {
	margin-top: 15px;
}
.service-box .service-detail h3 {
}
.service-box .service-detail h3 a {
	color: #f5c920;
	text-decoration: none;
	font-size: 20px;
	margin-bottom: 10px;
	display: block;
}
.service-box .service-detail p {
}
.page-top { }